$font-stack:'Oswald', sans-serif;
$primary-color: #333;
$controlsBackground: #C3898C;
$infoBackground: #798691;

$borderRadius: 10px;

@mixin boxShadow($x, $y, $blur, $spread, $color){
  -webkit-box-shadow: $x $y $blur $spread $color;
  -moz-box-shadow: $x $y $blur $spread $color;
  box-shadow: $x $y $blur $spread $color;
}

body {
  font-size: 1.5em;
  font-family: $font-stack;
}
:root {
  background: rgba(0,0,0, .2);
}


html, body{
  width: 100%;
  min-height: 100%;
  background: rgba(0,0,0, .2); 
  font-weight: 700;
  color: #DDD;
  letter-spacing: .2em;
}
// nav
li:hover {
  background: rgba(255,255,255, .1);
}
#nav {
  background: rgba(0,0,0, .5);
}

#navContainer {
  background: rgba(0,0,0, .7);
}

.navbar-nav li:hover {
  background: rgba(255,255,255, .1);
}

.navbar-right {
  span {
    color: #337ab7;
  }
}



// main wrapper row
#main-wrapper {
    margin: 2.5% 0 0 0;
}


//controls
#controls {
  border: 1px solid #DDD;
  border-radius: $borderRadius;
  padding: 2% 2%;
  @include boxShadow(5px, 5px, 20px, 10px, rgba(0,0,0,0.75));
  background: rgba(0,0,0, .9);
  height: 100%;
  margin-bottom: 5%;
  h3 {
    text-align: center;
    padding: 0 0 10% 0;
    margin: 0 0 10% 0;
    border-bottom: 1px solid #FFF;
  }
  button:hover {
    background: rgba(255,255,255, .1);
  }
  #addNewSong{
    input {
      background: rgba(255,255,255, .1);
      margin: 0 0 5% 0;
      padding: 1%;
      border-radius: 10px;
    }  
  }
  
  
}


//Song info

.hidden {
  display: none;
}

.song:hover {
  background: rgba(255,255,255, .1);
  border-radius: 20px;
  // padding: 1%;
  text-shadow: 0 2px 2px #000;
}
.song {
  
}

#info {
  text-align: center;
  border-radius: $borderRadius;
  // padding: 2% 4%;
  @include boxShadow(5px, 5px, 20px, 10px, rgba(0,0,0,0.75));
  background: rgba(0,0,0, .9);
  button:hover {
    background: rgba(255,255,255, .1)
  }
  ul {
    margin: 0;
    padding: 0;
    li {
      margin: 0;
      padding:0 4%;
      border-radius: 20px;
    }
  }
}

 #sortable { 
  list-style-type: none; 
}

.ui-state-highlight {
  height: 150px;
  border: 1px solid #FFF;
  border-radius: 20px;
}

// media queries //
@media(min-width: 768px){
  html { 
    background: url('https://static.pexels.com/photos/1539/vintage-technology-music-old-large.jpg') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  body {
    background: url('https://static.pexels.com/photos/1539/vintage-technology-music-old-large.jpg') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding: 2.5% 5%;
  }
  #info, #controls {
    border: 1px solid #000;
    min-height: 100%;
  }
  #info {
    text-align: left;
  }
  button {
    opacity: .7;
  }
  #scrollControls {
    background: rgba(0,0,0, .9);
    padding: 10px;
    border-radius: 10px;
    color: #DDD;
    display: none;
    position: fixed;
    left: 20px;
    top: 20px;
    :hover {
      background: rgba(255,255,255, .1);
    }
    a {
      color: white;
      :hover {
        background: rgba(255,255,255, .1);
      }
    }
    button {
      background: rgba(0,0,0, .1);
      color: #FFF;
      :hover {
        background: rgba(255,255,255, .1);
      }
    }
  }
}
@media(min-width: 1000px){
  #scrollControls {
    left: 80px;
  }
}



  // #sortable li { 
  //   margin: 0 5px 5px 5px; 
  //   padding: 5px; 
  //   font-size: 1.2em; 
  //   height: 1.5em; 
  // }
  // html>body #sortable li { 
  //   height: 1.5em; 
  //   line-height: 1.2em; 
  // }
  // .ui-state-highlight { 
  //   height: 1.5em; 
  //   line-height: 1.2em; 
  // }
