<nav id="nav" class="navbar transparent navbar-inverse">
  <div id="navContainer" class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#"><span class="glyphicon glyphicon-music"></span></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="#/songs">View Music<span class="sr-only"></span></a></li>
        <li class="active"><a href="#/newsong">Add Music</a></li>
        <li><a href="#/songs">Profile</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#" data-toggle="tooltip" data-placement="left" title="Previous Track"><span class="glyphicon glyphicon-fast-backward"></span></a></li>
        <li><a href="#" data-toggle="tooltip" data-placement="left" title="Play Track"><span class="glyphicon glyphicon-play"></span></a></li>
        <li><a href="#" data-toggle="tooltip" data-placement="left" title="Pause Track"><span class="glyphicon glyphicon-pause"></span></a></li>
        <li><a href="#" data-toggle="tooltip" data-placement="left" title="Next Track"><span class="glyphicon glyphicon-fast-forward"></span></a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>


<div id="addNewSong" class="col-md-6 col-md-offset-3">
  <div class="container">
    <div clas="row">
      <div class="col-md-8 col-md-offset-2">

        <div class="form-group">
          <label for="songName">Song Name</label>
          <input type="text" name="songName" ng-model="newSong.newTitle">
        </div>

        <div class="form-group">
          <label for="album">Album</label>
          <input type="text" name="album" ng-model="newSong.newAlbum">
        </div>

        <div class="form-group">
          <label for="artist">Aritst</label>
          <input type="text" name="artist" ng-model="newSong.newArtist">
        </div>

        <div class="form-group">
          <label for="genre">Genre</label>
          <input type="text" name="genre" ng-model="newSong.newGenre">
        </div>

        <button type="button" class="btn btn-primary btn-large" ng-click="addSong()">Add Song</button>
      </div>
    </div>
  </div>
</div>
